:root {
  --primary-color: #F5EFE6;
  --secondary-color: #AB828E;
  --text-color: #393354;
  --accent-color: #76998D;
  --background-color: #BAC5CC;
}

/* html{scroll-behavior:smooth;} */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--primary-color);
  color: #2B2B2B;
}

/* Navbar */
.navbar {
  position: sticky;   /* 👈 this is the key */
  top: 0;             /* 👈 sticks to top */
  z-index: 1000;      /* 👈 keeps it above other content */
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: var(--primary-color);
  opacity: 99%;
  color: var(--text-color);
  border-bottom: 1.5px solid var(--secondary-color);
  align-items: center;
}

.navbar a {
  color: var(--text-color);
  margin-left: 20px;
  text-decoration: none;
}


.logo {
  font-weight: bold;
  font-size: 20px;
}

/* Hero Section */
.hero {
  /* background: linear-gradient(to right, var(--background-color), var(--accent-color)  ); */
  color: var(--text-color);
  font-size: 30px;
  padding: 100px 50px;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 600px 1fr;
  gap: 10%;
  align-items: center;
}


.headshot img {
  width: 300px;
  height: auto;
  box-shadow:
  5px 5px 0 #FFC107,
  10px 10px 0 #FF9800,
  15px 15px 0 #607D8B;
}

.hero h1 {
  font-size: 60px;
}

.hero span {
  color: var(--secondary-color);
}

.hero p {
  margin: 20px 0;
}

.hero button {
  background: #F2C14E;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
}

/* Features */
.features {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.card {
  background: white;
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* About */
.about {
  padding: 50px;
  background: #FFFFFF;
}

.about h2 {
  margin-bottom: 20px;
}

/* Publications */
.publications {
  padding: 50px;
}

.pub-grid {
  display: flex;
  gap: 20px;
}

.pub-card {
  background: white;
  padding: 20px;
  flex: 1;
  text-align: center;
  border: 1px solid #D9D9D9;
}

/* Contact */
.contact {
  text-align: center;
  padding: 50px;
  background: #2E6F95;
  color: white;
}

.contact button {
  background: #FFD166;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #1F4E79;
  color: white;
}