:root {
  --primary-color: #F5EFE6;
  --darkerprimary-color: #c5b49b;
  --secondary-color: #AB828E;
  --lightersecondary-color: #a3b03e6a;
  --text-color: #2a5b49eb;
  --lightertext-color: #9e93cd90;
  --accent-color: #76998D;
  --lighter-color: #b8dcd0;
  --background-color: #BAC5CC;
  --darker-background-color: #f8f0e3;
  --white: #fefffe;
  --bottom-border-size: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "BuckeyeSerif", "Georgia", serif;
}



.background- {
  background: var(--primary-color);
  margin: 0 0; 
  padding: 0 20%;
}

body {
  background-color: var(--primary-color);
  color: #2B2B2B;
}

.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


strong {
  font-weight: bold;
}

/* Navbar */
.navbar {
  position: sticky;   /* 👈 this is the key */
  top: 0;             /* 👈 sticks to top */
  z-index: 1000;      /* 👈 keeps it above other content */
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  /* background: var(--primary-color); */
  color: var(--text-color);
  align-items: center;
  /* box-shadow: 0 4px 10px rgba(0,0,0,0.1); */
  backdrop-filter: blur(10px);

}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
  padding: 5px;
}



.logo:hover {
    /* text-decoration: var(--bottom-border-size) dotted underline var(--lightersecondary-color) ; */
    transform: translateY(-2px); /* Lifts the card slightly */
    filter: drop-shadow( 5px 5px 3px rgba(0,0,0,0.1)); /* Adds a soft shadow */
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-list {
  font-size: 18px;
  background-color: var(--lighter-color);
  border-radius: 4px;
  align-items: center;
  /* font-weight: bold; */
}

.nav-list:hover {
  /* text-decoration: var(--bottom-border-size) dotted underline var(--lightersecondary-color) ; */
  transform: translateY(-2px); /* Lifts the card slightly */
  filter: drop-shadow( 5px 5px 3px rgba(0,0,0,0.1)); /* Adds a soft shadow */
}

/* Hero Section */
.hero {
  color: var(--text-color);
  font-size: 30px;
  display: grid;
  grid-template-columns: 30% auto;
  gap: 10%;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--bottom-border-size) dotted  var(--lightertext-color);
  padding-top: 20px;
  padding-bottom: 20px;
}


.hero-headshot img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}


.hero-text a {
  color: var(--text-color);
  font-weight: 500;
  text-underline-offset: 3px;
}

.social-icons {
  display: flex;
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-between;
  filter:drop-shadow(5px 5px 4px rgba(0,0,0,0.1));  
}

.fa.fa-linkedin:hover, .fa.fa-graduation-cap:hover, .fa.fa-envelope:hover {
  transform: translateY(-5px); /* Lifts the card slightly */
  filter: drop-shadow( 5px 5px 4px rgba(0,0,0,0.1)); /* Adds a soft shadow */
  /* border-bottom: 1px solid #D9D9D9; */
  }


.hero h1 {
  font-size: 60px;
  color: var(--text-color);
}

.hero h6 {
  font-size: 18px;
  margin-top: 10px;
  color: var(--text-color);
  font-weight: lighter;
  line-height: 1.75;
}

.hero span {
  color: var(--secondary-color);
}

.hero p {
  margin: 20px 0;
}

/* Research flips */

#container {
  color:var(--text-color);
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  width:100%;
  padding-top: 50px;
  display:block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:50px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: var(--accent-color);
}
#flip div:first-child div {
  background: var(--secondary-color);
}
#flip div:last-child div {
  background: var(--lightertext-color);
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

/* Features */
.features {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  border-bottom: var(--bottom-border-size) dotted  var(--lightertext-color);
}

.card {
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/*About info*/
.about p {
  overflow: hidden;
  padding-bottom: 50px;
  line-height: 1.75;
  color: var(--text-color);
  border-bottom: var(--bottom-border-size) dotted  var(--lightertext-color);

}

.about h2 {
  padding-top: 50px;
  margin-bottom: 20px;
}

/* Publications */
.publications {
  padding-top: 50px;
}

.pub-grid {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 20px;
}



.pub-list a {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 0;
  gap: 30px;
  border-radius: 18px;
  border-bottom: 1px solid var(--darkerprimary-color);
  /* box-shadow: 10px 10px 50px rgba(0,0,0,0.1);  */
  text-decoration: none;
  color: var(--text-color);
  /* background-color: var(--white); */
}

.pub-grid:hover .pub-list {
  opacity: .3;
}

.pub-grid:hover .pub-list:hover {
  opacity: 1;
  transform: translateY(-5px); /* Lifts the card slightly */
  transition: transform 0.5s ease;     
  box-shadow: 10px 10px 50px rgba(0,0,0,0.1); 
  border-radius: 18px;
  /* border: 1px dashed var(--text-color); */
}

.pub-item-title {
  font-weight: bold;
  font-size: 18px;
  text-decoration: solid underline ;
}

.pub-item-desc {
  padding-top: 10px;
  font-size: 14px;
  color: var(--text-color);
  margin-top: 5px;
}

.publication-button {
  border-radius: 5px;
  background-color: transparent;
  border: 1.5px solid var(--accent-color);
  /* background-color: var(--accent-color); */
  font-weight: bold;
  color: var(--text-color);
  padding: 10px 20px;
  filter: drop-shadow( 5px 5px 1px rgba(0,0,0,0.1)); /* Adds a soft shadow */
}

.publication-button:hover {
  transform: translateY(-5px); /* Lifts the card slightly */
  filter: drop-shadow( 5px 5px 3px rgba(0,0,0,0.1)); /* Adds a soft shadow */
  background-color: var(--accent-color);
  color: white;
  font-weight: normal;
}



/* Testing */


.test {
	--block-size: 30vmax;
	display: grid;
	grid-template-columns: repeat(2, var(--block-size));
	grid-template-rows: repeat(2, var(--block-size));
	grid-gap: 2em;
  justify-content: center;
  margin: 5%;
}

.item	{
	background: var(--accent-color);
  /* background-color: red ; */
	display: grid;
	place-items: center;
	border-radius: 4px;
	transition: opacity 0.4s ease;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  transition: transform 0.5s ease;   
  text-decoration: none;

}

.test:hover .item {
	opacity: 0.3;
}

.test:hover .item:hover {
	opacity: 1;
  transform: scale(1.05)
            ;
}

.research_image {
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.research_image:hover{
	opacity: 1;
  transition: opacity .45s ease, transform .45s ease;
  filter:  drop-shadow( 5px 5px 5px rgba(0,0,0,0.1)); /* Adds a soft shadow */
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.research_info {
  padding: 0 10px;
  color: var(--primary-color);
  line-height: 1.75;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  /* justify-content: space-between; */
}

.research_desc_pills_section {
  display: flex; 
  /* align-items: flex-start; */
  gap: 10px; 
  margin: 3% 0;
}

.research_desc_pill {
  /* display: flex; */
  font-size: 70%;
  /* white-space: nowrap; */
  padding: 0 10px;
  color: var(--text-color);
  background-color: var(--primary-color);
  /* border: 3px solid var(--lightertext-color); */
  border-radius: 15px;
}


.page {
  margin: 50px 0;
	/* margin: 0 auto; */
}

/* Contact */
.contact {
  text-align: center;
  padding: 50px;
  background: #2E6F95;
  color: white;
}

.contact button {
  background: #FFD166;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #1F4E79;
  color: white;
}