:root {
  --primary-color: #F5EFE6;
  --darkerprimary-color: #c5b49b;
  --secondary-color: #AB828E;
  --lightersecondary-color: #a3b03e6a;
  --text-color: #2a5b49eb;
  --lightertext-color: #9e93cd;
  --accent-color: #76998D;
  --lighter-color: #b8dcd0;
  --background-color: #BAC5CC;
  --darker-background-color: #f8f0e3;
  --bottom-border-size: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "BuckeyeSerif", "Georgia", serif;
}

.background- {
  background: var(--primary-color);
  margin: 0 300px; 
  padding: 0 0;
}

body {
  background-color: var(--primary-color);
  color: #2B2B2B;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


strong {
  font-weight: bold;
}

/* Navbar */
.navbar {
  position: sticky;   /* 👈 this is the key */
  top: 0;             /* 👈 sticks to top */
  z-index: 1000;      /* 👈 keeps it above other content */
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  background: var(--primary-color);
  opacity: 99%;
  color: var(--text-color);
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}

.navbar a {
  color: var(--text-color);
  margin-left: 20px;
  text-decoration: none;
}

.logo:hover {
    text-decoration: var(--bottom-border-size) dotted underline var(--lightersecondary-color) ;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.nav-list {
  font-size: 20px;
  font-weight: bold;
}

/* Hero Section */
.hero {
  color: var(--text-color);
  font-size: 30px;
  display: flex;
  grid-template-columns: 600px 1fr;
  gap: 10%;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--bottom-border-size) dotted  var(--lightersecondary-color);
  padding: 50px 0;
}


.hero-headshot img {
  width: 300px;
  height: auto;
  box-shadow:
  5px 5px 0 var(--secondary-color),
  7px 7px 0 var(--lightersecondary-color)
}

.hero-text {
  display: flex;
  flex-direction: column;
}

.hero-text a {
  color: var(--text-color);
  font-weight: 500;
  text-underline-offset: 3px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 50px; */
  margin: auto auto;
  margin-top: 10px;
}

.hero h1 {
  font-size: 60px;
  color: var(--text-color);
}

.hero h6 {
  font-size: 18px;
  margin-top: 20px;
  color: var(--text-color);
  font-weight: lighter;
  line-height: 1.75;
}

.hero span {
  color: var(--secondary-color);
}

.hero p {
  margin: 20px 0;
}

/* Features */
.features {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  border-bottom: var(--bottom-border-size) dotted  var(--lightersecondary-color);
}

.card {
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/*About info*/
.about p {
  overflow: hidden;
  padding-bottom: 50px;
  line-height: 1.75;
  color: var(--text-color);
  border-bottom: var(--bottom-border-size) dotted  var(--lightersecondary-color);

}

.about h2 {
  padding-top: 50px;
  margin-bottom: 20px;
}

/* Publications */
.publications {
  padding: 50px 0;
}

.pub-grid {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 20px;
}

.pub-list a {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 0;
  gap: 30px;
  /* border-bottom: 1px solid #D9D9D9; */
  /* box-shadow: 0 0 100px rgba(0,0,0,0.1); */
  text-decoration: none;
  color: var(--text-color);
  /* background-color: var(--darker-background-color); */
}

.pub-list:hover {
  transform: translateY(-5px); /* Lifts the card slightly */
  box-shadow: 10px 10px 30px rgba(0,0,0,0.1); /* Adds a soft shadow */
  /* border-bottom: 1px solid #D9D9D9; */
}


.pub-item {
  padding: 0 10px;
  flex: 1;
  text-align: left;
}

.pub-item-title {
  font-weight: bold;
  font-size: 18px;
  text-decoration: solid underline ;
}

.pub-item-desc {
  padding-top: 10px;
  font-size: 14px;
  color: var(--text-color);
  margin-top: 5px;
}

.publication-button {
  border-radius: 5px;
  border: none;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.1); /* Adds a soft shadow */
  padding: 10px 20px;
}

.publication-button:hover {
  background-color: var(--accent-color);
  color: white;
}

/* Contact */
.contact {
  text-align: center;
  padding: 50px;
  background: #2E6F95;
  color: white;
}

.contact button {
  background: #FFD166;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #1F4E79;
  color: white;
}